{% extends 'base.html' %}

{% block title %}Inicio | {{ title }}{% endblock %}

{% block content %}

<div class="container-paginas">

    <div class="productos">

        <div class="productos-titulo" id="bustos">
            <h2>Bustos y Muñecos</h2>
        </div>

        <div class="container-productos">

            <div class="card-prod">
                <img src="/static/img/prod/bustos/alien.jpg" alt="alien">
                <div class="card-info">
                    <h3>Alien</h3>
                    <br><p><strong>ID:</strong> 001</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Basado en la película.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/bustos/cap.jpg" alt="cap">
                <div class="card-info">
                    <h3>Cap. América</h3>
                    <br><p><strong>ID:</strong> 002</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Busto del Capitán América.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/bustos/deadpool.jpg" alt="cap">
                <div class="card-info">
                    <h3>Deadpool Baby</h3>
                    <br><p><strong>ID:</strong> 003</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Muñeco de Deadpool de pequeño.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/bustos/deadpool2.jpg" alt="deadpool 2">
                <div class="card-info">
                    <h3>Deadpool Busto</h3>
                    <br><p><strong>ID:</strong> 004</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Busto del Deadpool.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/bustos/deadpoola.jpg" alt="lady deadpool">
                <div class="card-info">
                    <h3>Lady Deadpool</h3>
                    <br><p><strong>ID:</strong> 005</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Muñeco de Lady Deadpool.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/bustos/garfield1.jpg" alt="garfield venom spider">
                <div class="card-info">
                    <h3>Garfield Venom Spider</h3>
                    <br><p><strong>ID:</strong> 006</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Muñeco de Garfield en traje de Venom Spiderman.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/bustos/garfield2.jpg" alt="garfield">
                <div class="card-info">
                    <h3>Garfield</h3>
                    <br><p><strong>ID:</strong> 007</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Muñeco de Garfield.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/bustos/hulk.jpg" alt="hulk">
                <div class="card-info">
                    <h3>Hulk Busto</h3>
                    <br><p><strong>ID:</strong> 008</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Busto de Hulk.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/bustos/ironamn.jpg" alt="ironman">
                <div class="card-info">
                    <h3>Ironman</h3>
                    <br><p><strong>ID:</strong> 009</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Muñeco de Ironman.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/bustos/mario.jpg" alt="mario y luigi">
                <div class="card-info">
                    <h3>Mario y Luigi</h3>
                    <br><p><strong>ID:</strong> 010</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Muñeco de Mario y Luigi.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/bustos/spidey.jpg" alt="spidey">
                <div class="card-info">
                    <h3>Spidey</h3>
                    <br><p><strong>ID:</strong> 011</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Muñeco de Spiderman Baby.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/bustos/stich.jpg" alt="stich">
                <div class="card-info">
                    <h3>Stich</h3>
                    <br><p><strong>ID:</strong> 012</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Muñeco de Stich.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/bustos/spidey.jpg" alt="spidey">
                <div class="card-info">
                    <h3>Venom</h3>
                    <br><p><strong>ID:</strong> 013</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Muñeco de Venom.</p>
                </div>
            </div>

        </div>

        <div class="productos-titulo" id="juegos">
            <h2>Juegos y Juguetes</h2>
        </div>

        <div class="container-productos">

            <div class="card-prod">
                <img src="" alt="">

            </div>

            <div class="card-prod">
                <img src="" alt="">

            </div>

        </div>


        <div class="productos-titulo" id="llaveros">
            <h2>Llaveros y Porta llaves</h2>
        </div>

        <div class="container-productos">

            <div class="card-prod">
                <img src="" alt="">

            </div>

            <div class="card-prod">
                <img src="" alt="">

            </div>

        </div>

        <div class="productos-titulo" id="mascaras">
            <h2>Máscaras y accesorios para Cosplay</h2>
        </div>

        <div class="container-productos">

            <div class="card-prod">
                <img src="/static/img/prod/mascaras/deadpool.jpg" alt="deadpool">
                <div class="card-info">
                    <h3>Deadpool</h3>
                    <br><p><strong>ID:</strong> 001</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Viene con luces.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mascaras/ironman.jpg" alt="ironman">
                <div class="card-info">
                    <h3>Ironamn</h3>
                    <br>
                    <br><p><strong>ID:</strong> 002</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Viene con luces y automatizacón de movimientos.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mascaras/daredevil.jpg" alt="daredevil">
                <div class="card-info">
                    <h3>Daredevil</h3>
                    <br>
                    <br><p><strong>ID:</strong> 003</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Casco con visión de color rojo.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mascaras/doom.jpg" alt="doom">
                <div class="card-info">
                    <h3>Dr. Doom</h3>
                    <br>
                    <br><p><strong>ID:</strong> 004</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Viene con luces en los ojos y en la boca.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mascaras/mascara.jpg" alt="mascara">
                <div class="card-info">
                    <h3>The Mask</h3>
                    <br>
                    <br><p><strong>ID:</strong> 005</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> La clásica de la película.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mascaras/megaman.jpg" alt="megaman">
                <div class="card-info">
                    <h3>Megaman</h3>
                    <br>
                    <br><p><strong>ID:</strong> 006</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Casco del personaje de videojuegos.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mascaras/predator.jpg" alt="predator">
                <div class="card-info">
                    <h3>Predator</h3>
                    <br>
                    <br><p><strong>ID:</strong> 007</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Viene con luces en los ojos.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mascaras/ranger.jpg" alt="power ranger">
                <div class="card-info">
                    <h3>Power Ranger</h3>
                    <br>
                    <br><p><strong>ID:</strong> 008</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Viene de color a eleccion posterior a su compra.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mascaras/rocketer.jpg" alt="rocketter">
                <div class="card-info">
                    <h3>Rocketeer</h3>
                    <br>
                    <br><p><strong>ID:</strong> 009</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Clásico casco de la película.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mascaras/spiderman.jpg" alt="spiderman">
                <div class="card-info">
                    <h3>Spiderman</h3>
                    <br>
                    <br><p><strong>ID:</strong> 010</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Viene con los ojos imantados para que se los coloques.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mascaras/venom.jpg" alt="venom">
                <div class="card-info">
                    <h3>Venom</h3>
                    <br>
                    <br><p><strong>ID:</strong> 011</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Casco del villano de Spiderman.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mascaras/wolverine.jpg" alt="wolverine">
                <div class="card-info">
                    <h3>Wolverine</h3>
                    <br>
                    <br><p><strong>ID:</strong> 012</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Casco del personaje de los X-Men.</p>
                </div>

            </div>

        </div>

        <div class="productos-titulo" id="auriculares">
            <h2>Porta Auriculares</h2>
        </div>

        <div class="container-productos">

            <div class="card-prod">
                <img src="" alt="">

            </div>

            <div class="card-prod">
                <img src="" alt="">

            </div>

        </div>

        <div class="productos-titulo" id="lamparas">
            <h2>Lamparas</h2>
        </div>

        <div class="container-productos">

            <div class="card-prod">
                <img src="" alt="">

            </div>

            <div class="card-prod">
                <img src="" alt="">

            </div>
        </div>

        <div class="productos-titulo" id="mates">
            <h2>Mates, Maceteros y Lapiceros</h2>
        </div>

        <div class="container-productos">

            <div class="card-prod">
                <img src="" alt="">

            </div>

            <div class="card-prod">
                <img src="" alt="">

            </div>

        </div>

        <div class="productos-titulo" id="utiles">
            <h2>Herramientas Útiles e Inteligentes</h2>
        </div>

        <div class="container-productos">

            <div class="card-prod">
                <img src="" alt="">

            </div>

            <div class="card-prod">
                <img src="" alt="">

            </div>

        </div>

        <div class="productos-titulo" id="muebles">
            <h2>Muebles y Repisas</h2>
        </div>

        <div class="container-productos">

            <div class="card-prod">
                <img src="" alt="">

            </div>

            <div class="card-prod">
                <img src="" alt="">

            </div>

        </div>

    </div>

</div>


</div>


<script src="{{ url_for('static', filename='js/script.js')}}"></script>
{% endblock content %}