{% extends 'base.html' %}

{% block title %}Inicio | {{ title }}{% endblock %}

{% block content %}

<div class="container-paginas">

    <div class="productos">

        <div class="productos-titulo" id="bustos">
            <h2>Bustos y Muñecos</h2>
        </div>

        <div class="container-productos">

            <div class="card-prod">
                <img src="/static/img/prod/bustos/alien.jpg" alt="alien">
                <div class="card-info">
                    <h3>Alien</h3>

                    <p><strong>ID:</strong> 001</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Basado en la película.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/bustos/cap.jpg" alt="cap">
                <div class="card-info">
                    <h3>Cap. América</h3>

                    <p><strong>ID:</strong> 002</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Busto del Capitán América.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/bustos/deadpool.jpg" alt="cap">
                <div class="card-info">
                    <h3>Deadpool Baby</h3>

                    <p><strong>ID:</strong> 003</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Muñeco de Deadpool de pequeño.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/bustos/deadpool2.jpg" alt="deadpool 2">
                <div class="card-info">
                    <h3>Deadpool Busto</h3>

                    <p><strong>ID:</strong> 004</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Busto del Deadpool.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/bustos/deadpoola.jpg" alt="lady deadpool">
                <div class="card-info">
                    <h3>Lady Deadpool</h3>

                    <p><strong>ID:</strong> 005</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Muñeco de Lady Deadpool.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/bustos/garfield1.jpg" alt="garfield venom spider">
                <div class="card-info">
                    <h3>Garfield Venom Spider</h3>

                    <p><strong>ID:</strong> 006</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Muñeco de Garfield en traje de Venom Spiderman.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/bustos/garfield2.jpg" alt="garfield">
                <div class="card-info">
                    <h3>Garfield</h3>

                    <p><strong>ID:</strong> 007</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Muñeco de Garfield.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/bustos/hulk.jpg" alt="hulk">
                <div class="card-info">
                    <h3>Hulk Busto</h3>

                    <p><strong>ID:</strong> 008</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Busto de Hulk.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/bustos/ironamn.jpg" alt="ironman">
                <div class="card-info">
                    <h3>Ironman</h3>

                    <p><strong>ID:</strong> 009</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Muñeco de Ironman.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/bustos/mario.jpg" alt="mario y luigi">
                <div class="card-info">
                    <h3>Mario y Luigi</h3>

                    <p><strong>ID:</strong> 010</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Muñeco de Mario y Luigi.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/bustos/spidey.jpg" alt="spidey">
                <div class="card-info">
                    <h3>Spidey</h3>

                    <p><strong>ID:</strong> 011</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Muñeco de Spiderman Baby.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/bustos/stich.jpg" alt="stich">
                <div class="card-info">
                    <h3>Stich</h3>

                    <p><strong>ID:</strong> 012</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Muñeco de Stich.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/bustos/venom.jpg" alt="spidey">
                <div class="card-info">
                    <h3>Venom</h3>

                    <p><strong>ID:</strong> 013</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Muñeco de Venom.</p>
                </div>
            </div>

        </div>

        <div class="productos-titulo" id="juegos">
            <h2>Juegos y Juguetes</h2>
        </div>

        <div class="container-productos">

            <div class="card-prod">
                <img src="/static/img/prod/juguetes/ajedrez.jpg" alt="ajedrez">
                <div class="card-info">
                    <h3>Ajedrez</h3>

                    <p><strong>ID:</strong> 014</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Tablero y piezas de ajedrez.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/juguetes/alcancia.jpg" alt="alcancia">
                <div class="card-info">
                    <h3>Alcancia</h3>

                    <p><strong>ID:</strong> 015</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Alcancía basandose en Mario Bross.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/juguetes/burbujero.jpg" alt="burbujero">
                <div class="card-info">
                    <h3>Burbujero</h3>

                    <p><strong>ID:</strong> 016</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Burbujero de Pepa Pig.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/juguetes/dados.jpg" alt="dados">
                <div class="card-info">
                    <h3>Dados</h3>

                    <p><strong>ID:</strong> 017</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Dados.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/juguetes/damas.jpg" alt="Damas">
                <div class="card-info">
                    <h3>Damas</h3>

                    <p><strong>ID:</strong> 018</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Tablero y pieza del juego de Damas.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/juguetes/helicoptero.jpg" alt="helicoptero">
                <div class="card-info">
                    <h3>Helicoptero</h3>

                    <p><strong>ID:</strong> 019</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Helicóptero de mano.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/juguetes/ludo.jpg" alt="Ludo">
                <div class="card-info">
                    <h3>Ludo</h3>

                    <p><strong>ID:</strong> 020</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Tablero y pieza del juego de Ludo.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/juguetes/pistola.jpg" alt="pistola">
                <div class="card-info">
                    <h3>Pistola</h3>

                    <p><strong>ID:</strong> 021</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Pistola tira coquitos.</p>
                </div>
            </div>

        </div>


        <div class="productos-titulo" id="llaveros">
            <h2>Llaveros y Porta llaves</h2>
        </div>

        <div class="container-productos">

            <div class="card-prod">
                <img src="/static/img/prod/llaveros/batman.jpg" alt="batman">
                <div class="card-info">
                    <h3>Batman</h3>

                    <p><strong>ID:</strong> 022</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> LLavero de Batman.</p>
                </div>
            </div>


            <div class="card-prod">
                <img src="/static/img/prod/llaveros/deadpool.jpg" alt="deadpool">
                <div class="card-info">
                    <h3>Deadpool</h3>

                    <p><strong>ID:</strong> 023</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> LLavero de Deadpool.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/llaveros/deadpool2.jpg" alt="deadpool 2">
                <div class="card-info">
                    <h3>Deadpool</h3>

                    <p><strong>ID:</strong> 024</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> LLavero de Deadpool 2.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/llaveros/deadwolverine.jpg" alt="dead wolverine">
                <div class="card-info">
                    <h3>Deadpool & Wolverine</h3>

                    <p><strong>ID:</strong> 025</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> LLavero de Deadpool & Wolverine.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/llaveros/dragonball.jpg" alt="dragonball">
                <div class="card-info">
                    <h3>dragonball</h3>

                    <p><strong>ID:</strong> 026</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> LLavero de dragonball.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/llaveros/fornite.jpg" alt="fornite">
                <div class="card-info">
                    <h3>Fornite</h3>

                    <p><strong>ID:</strong> 027</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> LLavero de Fornite.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/llaveros/kity.jpg" alt="kitty">
                <div class="card-info">
                    <h3>Kitty</h3>

                    <p><strong>ID:</strong> 028</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> LLavero de Kitty.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/llaveros/momia.jpg" alt="momia">
                <div class="card-info">
                    <h3>Momia</h3>

                    <p><strong>ID:</strong> 029</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> LLavero de Momia
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/llaveros/mortalkombat.jpg" alt="mortal kombat">
                <div class="card-info">
                    <h3>Mortal Kombat</h3>

                    <p><strong>ID:</strong> 030</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> LLavero de Mortal Kombat.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/llaveros/portallave-gatito.jpg" alt="portallave gatito">
                <div class="card-info">
                    <h3>Porta llave Gatitos</h3>

                    <p><strong>ID:</strong> 031</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Portallave de Gatitos.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/llaveros/portallave-mickey.jpg" alt="portallave mickey">
                <div class="card-info">
                    <h3>Porta llave Mickey</h3>

                    <p><strong>ID:</strong> 032</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Portallave de Mickey.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/llaveros/portallaves-mario.jpg" alt="portallave mario">
                <div class="card-info">
                    <h3>Porta llave Mario Bross</h3>

                    <p><strong>ID:</strong> 033</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Portallave de Mario Bross.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/llaveros/skeletor.jpg" alt="skeletor">
                <div class="card-info">
                    <h3>Skeletor</h3>

                    <p><strong>ID:</strong> 034</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> LLavero de Skeletor.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/llaveros/spider.jpg" alt="spidermant">
                <div class="card-info">
                    <h3>Spiderman</h3>

                    <p><strong>ID:</strong> 035</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> LLavero de Spiderman.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/llaveros/starwars.jpg" alt="star wars">
                <div class="card-info">
                    <h3>Star Wars</h3>

                    <p><strong>ID:</strong> 036</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> LLavero de Star Wars.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/llaveros/stich.jpg" alt="stich">
                <div class="card-info">
                    <h3>Stich</h3>

                    <p><strong>ID:</strong> 037</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> LLavero de Stich.</p>
                </div>
            </div>
            
            <div class="card-prod">
                <img src="/static/img/prod/llaveros/supergirl.jpg" alt="supergirl">
                <div class="card-info">
                    <h3>supergirl</h3>

                    <p><strong>ID:</strong> 038</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> LLavero de supergirl.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/llaveros/thundercats.jpg" alt="thundercats">
                <div class="card-info">
                    <h3>Thunder Cats</h3>

                    <p><strong>ID:</strong> 039</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> LLavero de Thunder Cats.</p>
                </div>
            </div>

        </div>

        <div class="productos-titulo" id="mascaras">
            <h2>Máscaras y accesorios para Cosplay</h2>
        </div>

        <div class="container-productos">

            <div class="card-prod">
                <img src="/static/img/prod/mascaras/deadpool.jpg" alt="deadpool">
                <div class="card-info">
                    <h3>Deadpool</h3>

                    <p><strong>ID:</strong> 040</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Viene con luces.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mascaras/ironman.jpg" alt="ironman">
                <div class="card-info">
                    <h3>Ironamn</h3>

                    <p><strong>ID:</strong> 041</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Viene con luces y automatizacón de movimientos.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mascaras/daredevil.jpg" alt="daredevil">
                <div class="card-info">
                    <h3>Daredevil</h3>

                    <p><strong>ID:</strong> 042</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Casco con visión de color rojo.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mascaras/doom.jpg" alt="doom">
                <div class="card-info">
                    <h3>Dr. Doom</h3>

                    <p><strong>ID:</strong> 043</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Viene con luces en los ojos y en la boca.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mascaras/mascara.jpg" alt="mascara">
                <div class="card-info">
                    <h3>The Mask</h3>

                    <p><strong>ID:</strong> 044</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> La clásica de la película.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mascaras/megaman.jpg" alt="megaman">
                <div class="card-info">
                    <h3>Megaman</h3>

                    <p><strong>ID:</strong> 045</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Casco del personaje de videojuegos.</p>
                </div>
            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mascaras/predator.jpg" alt="predator">
                <div class="card-info">
                    <h3>Predator</h3>

                    <p><strong>ID:</strong> 046</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Viene con luces en los ojos.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mascaras/ranger.jpg" alt="power ranger">
                <div class="card-info">
                    <h3>Power Ranger</h3>

                    <p><strong>ID:</strong> 047</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Viene de color a eleccion posterior a su compra.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mascaras/rocketer.jpg" alt="rocketter">
                <div class="card-info">
                    <h3>Rocketeer</h3>

                    <p><strong>ID:</strong> 0048</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Clásico casco de la película.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mascaras/spiderman.jpg" alt="spiderman">
                <div class="card-info">
                    <h3>Spiderman</h3>

                    <p><strong>ID:</strong> 049</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Viene con los ojos imantados para que se los coloques.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mascaras/venom.jpg" alt="venom">
                <div class="card-info">
                    <h3>Venom</h3>

                    <p><strong>ID:</strong> 050</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Casco del villano de Spiderman.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mascaras/wolverine.jpg" alt="wolverine">
                <div class="card-info">
                    <h3>Wolverine</h3>

                    <p><strong>ID:</strong> 051</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Casco del personaje de los X-Men.</p>
                </div>

            </div>

        </div>

        <div class="productos-titulo" id="auriculares">
            <h2>Porta Auriculares</h2>
        </div>

        <div class="container-productos">

            <div class="card-prod">
                <img src="/static/img/prod/auriculares/ajustador.jpg" alt="ajustable">
                <div class="card-info">
                    <h3>Porta auriculares ajustable</h3>

                    <p><strong>ID:</strong> 052</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Porta Auriculares Ajustable.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/auriculares/corazon.jpg" alt="corazon">
                <div class="card-info">
                    <h3>Corazón</h3>

                    <p><strong>ID:</strong> 053</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Corazón enrolla cable de auriculares.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/auriculares/modelo-gris.jpg" alt="porta auriculares gris">
                <div class="card-info">
                    <h3>Porta Auriculares Gris</h3>

                    <p><strong>ID:</strong> 054</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Porta Auriculares de color Gris.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/auriculares/modelo-verde.jpg" alt="porta auriculares verde">
                <div class="card-info">
                    <h3>Porta Auriculares Verde</h3>

                    <p><strong>ID:</strong> 055</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Porta Auriculares de color verde.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/auriculares/pato.jpg" alt="porta auriculares pato">
                <div class="card-info">
                    <h3>Porta Auriculares Pato</h3>

                    <p><strong>ID:</strong> 056</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Porta Auriculares con forma de Pato.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/auriculares/perro.jpg" alt="enrolla cables de perro">
                <div class="card-info">
                    <h3>Enrolla cable de Perro</h3>

                    <p><strong>ID:</strong> 057</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Enrolla cable de auriculares en forma de perro.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/auriculares/supergirl.jpg" alt="Porta Auriculares de Supergirl">
                <div class="card-info">
                    <h3>Porta Auriculares de Supergirl</h3>

                    <p><strong>ID:</strong> 058</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Porta auriculares de Supergirl.</p>
                </div>

            </div>

        </div>

        <div class="productos-titulo" id="lamparas">
            <h2>Lamparas</h2>
        </div>

        <div class="container-productos">

            <div class="card-prod">
                <img src="/static/img/prod/lamparas/alien.jpg" alt="lampara alien">
                <div class="card-info">
                    <h3>Lampara pequeña de nave ovni</h3>

                    <p><strong>ID:</strong> 059</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Lleva una luz a pila en forma de vela.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/lamparas/articulada.jpg" alt="lampara articulada">
                <div class="card-info">
                    <h3>Lampara articulada 1</h3>

                    <p><strong>ID:</strong> 060</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Lampara articulada modelo largo.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/lamparas/articulada2.jpg" alt="lampara articulada 2">
                <div class="card-info">
                    <h3>Lampara articulada 2</h3>

                    <p><strong>ID:</strong> 061</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Lampara articulada modelo corto.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/lamparas/brujas.jpg" alt="lampara de brujas">
                <div class="card-info">
                    <h3>Lampara de Haloween</h3>

                    <p><strong>ID:</strong> 062</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Lampara de haloween con luz interna.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/lamparas/calabaza.jpg" alt="lampara de calabaza">
                <div class="card-info">
                    <h3>Lampara de Calabaza</h3>

                    <p><strong>ID:</strong> 063</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Lampara de haloween con forma de calabaza y luz interna.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/lamparas/colgante1.jpg" alt="lampara colgante 1">
                <div class="card-info">
                    <h3>Lampara Colgante 1</h3>

                    <p><strong>ID:</strong> 064</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Lampara Colgante modelo ondulado.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/lamparas/colgante2.jpg" alt="lampara colgante 2">
                <div class="card-info">
                    <h3>Lampara Colgante 2</h3>

                    <p><strong>ID:</strong> 065</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Lampara Colgante modelo circular.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/lamparas/colgante3.jpg" alt="lampara colgante 3">
                <div class="card-info">
                    <h3>Lampara Colgante 3</h3>

                    <p><strong>ID:</strong> 066</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Lampara Colgante modelo jarrón.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/lamparas/espiral.jpg" alt="lampara espiral">
                <div class="card-info">
                    <h3>Lampara Espiral</h3>

                    <p><strong>ID:</strong> 067</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Lampara Espiral con luz interna.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/lamparas/nave.jpg" alt="lampara nave">
                <div class="card-info">
                    <h3>Lampara pequeña de Cohete</h3>

                    <p><strong>ID:</strong> 068</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Lleva una luz a pila en forma de vela.</p>
                </div>

            </div>

        <div class="productos-titulo" id="mates">
            <h2>Mates, Maceteros y Lapiceros</h2>
        </div>

        <div class="container-productos">

            <div class="card-prod">
                <img src="/static/img/prod/mates/deadpool.jpg" alt="deadpool">
                <div class="card-info">
                    <h3>Mate o Lapicero Deadpool</h3>

                    <p><strong>ID:</strong> 069</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Mate o lapicero de Deadpool.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mates/back.jpg" alt="back to the future">
                <div class="card-info">
                    <h3>Mate Back to the Future</h3>

                    <p><strong>ID:</strong> 070</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Mate de Back to the Future.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mates/stich.jpg" alt="stiches">
                <div class="card-info">
                    <h3>Mate de Stiches</h3>

                    <p><strong>ID:</strong> 071</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Mate de Stiches.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mates/thanos.jpg" alt="thanos">
                <div class="card-info">
                    <h3>Mate o lapicero de Thanos</h3>

                    <p><strong>ID:</strong> 072</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Mate o lapicero de Thanos.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mates/groot.jpg" alt="groot">
                <div class="card-info">
                    <h3>Mate Groot</h3>

                    <p><strong>ID:</strong> 073</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Mate de Groot.</p>
                </div>

            </div>

             <div class="card-prod">
                <img src="/static/img/prod/mates/jack.jpg" alt="jack">
                <div class="card-info">
                    <h3>Mate Jack</h3>

                    <p><strong>ID:</strong> 074</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Mate de Jack.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mates/harry.jpg" alt="harry">
                <div class="card-info">
                    <h3>Mate Harry Potter</h3>

                    <p><strong>ID:</strong> 075</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Mate de Harry Potter.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mates/ironamn.jpg" alt="iron man">
                <div class="card-info">
                    <h3>Mate lapicero IronMan</h3>

                    <p><strong>ID:</strong> 076</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Mate o lapicero de Iron Man.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mates/messi.jpg" alt="messi">
                <div class="card-info">
                    <h3>Mate lapicero Messi</h3>

                    <p><strong>ID:</strong> 077</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Mate o lapicero de Messi.</p>
                </div>

            </div>

            <div class="card-prod">
                <img src="/static/img/prod/mates/mafalda.jpg" alt="mafalda">
                <div class="card-info">
                    <h3>Mate Mafalda</h3>

                    <p><strong>ID:</strong> 078</p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Descripción:</strong> Mate de Mafalda.</p>
                </div>

            </div>


        </div>

        <div class="productos-titulo" id="utiles">
            <h2>Herramientas Útiles e Inteligentes</h2>
        </div>

        <div class="container-productos">

            <div class="card-prod">
                <img src="" alt="">

            </div>

            <div class="card-prod">
                <img src="" alt="">

            </div>

        </div>

        <div class="productos-titulo" id="muebles">
            <h2>Muebles y Repisas</h2>
        </div>

        <div class="container-productos">

            <div class="card-prod">
                <img src="" alt="">

            </div>

            <div class="card-prod">
                <img src="" alt="">

            </div>

        </div>

    </div>

</div>


</div>


<script src="{{ url_for('static', filename='js/script.js')}}"></script>
{% endblock content %}